.createButton{
    float: right;
    position: relative;
    right: 265px;
    height: 45px;
    width: 143px;
    background-color: green
}

.logoutButton{
    float: right;
    position: relative;
    bottom:70px;
    top:0px;
    right:15%;
    height: 45px;
    width: 100px;
    background-color:darkred
}