
<button id="close" (click)="CloseEmployeePopUp()" class="registerbtn">Close</button>

<form [formGroup]="employeesFormGroup" class="container" style="text-align: center">
    <h2>Create Employee</h2>
    <label style="color: blue"><b>Employee ID :</b></label>
      <div>
      <input type="text" formControlName="employeeId" > 
      <div *ngIf="employeesFormGroup.controls.employeeId.invalid && (employeesFormGroup.controls.employeeId.dirty||
      employeesFormGroup.controls.employeeId.touched )">
     <div *ngIf="employeesFormGroup.controls.employeeId.errors.required"  class="error_msg">
      Employee Id is required.
     </div>    
     </div>
    </div>
    <label style="color: blue"><b> First Name :</b></label>
    <div>
    <input type="text" formControlName="employeefirstName" >
      <div *ngIf="employeesFormGroup.controls.employeefirstName.invalid && (employeesFormGroup.controls.employeefirstName.dirty||
      employeesFormGroup.controls.employeefirstName.touched )">
     <div *ngIf="employeesFormGroup.controls.employeefirstName.errors.required"  class="error_msg">
      First Name  is required.
     </div>    
     </div>
     </div>
      <br>
      <br>
      <label style="color: blue"><b> Last Name :</b> </label>
      <div>
      <input type="text" formControlName="employeelastName" >
      <div *ngIf="employeesFormGroup.controls.employeelastName.invalid && (employeesFormGroup.controls.employeelastName.dirty||
      employeesFormGroup.controls.employeelastName.touched )">
     <div *ngIf="employeesFormGroup.controls.employeelastName.errors.required"  class="error_msg">
      Last Name is required.
     </div>    
     </div>
     </div>
       <label style="color: blue"><b> Address : </b></label>
       <div></div>
      <input type="text" formControlName="employeeAddress">
      <div *ngIf="employeesFormGroup.controls.employeeAddress.invalid && (employeesFormGroup.controls.employeeAddress.dirty||
       employeesFormGroup.controls.employeeAddress.touched )">
      <div *ngIf="employeesFormGroup.controls.employeeAddress.errors.required"  class="error_msg">
         Address is required.
      </div>    
      </div>
      </div>
       <br>
       <br>
       <label style="color: blue"><b>Date Of Birth : </b></label>
       <div>
      <input type="date" formControlName="employeeDob" >
      <div *ngIf="employeesFormGroup.controls.employeeDob.invalid && (employeesFormGroup.controls.employeeDob.dirty||
       employeesFormGroup.controls.employeeDob.touched )">
      <div *ngIf="employeesFormGroup.controls.employeeDob.errors.required"  class="error_msg">
         Date Of Birth is required.
      </div>    
      </div>
      </div>
      
      <label style="color: blue"><b>  Mobile No. :</b> </label>
      <div>
      <input type="text" formControlName="employeemMobileNo">
      <div *ngIf="employeesFormGroup.controls.employeemMobileNo.invalid && (employeesFormGroup.controls.employeemMobileNo.dirty||
       employeesFormGroup.controls.employeemMobileNo.touched )">
      <div *ngIf="employeesFormGroup.controls.employeemMobileNo.errors.required"  class="error_msg">
         Mobile No. is required.
      </div>    
      </div>
      </div>
       <br>
       <br>
       <div style="position: relative;right: 112px;">
      <label style="color: blue;"><b>  City : </b></label>
      <input type="text" formControlName="employeeCity" >
      <div *ngIf="employeesFormGroup.controls.employeeCity.invalid && (employeesFormGroup.controls.employeeCity.dirty||
       employeesFormGroup.controls.employeeCity.touched )">
      <div *ngIf="employeesFormGroup.controls.employeeCity.errors.required"  class="error_msg">
         City  is required.
      </div>    
      </div>
      </div>
       <br>
       <div>
      <button id="Submit" (click)="SubmitEmployeeRecords(employeesFormGroup)" class="registerbtn">Save </button>
      <button id="Submit" (click)="onClear(employeesFormGroup)" class="registerbtn" style="left: 11px;
      position: relative;">Clear </button>
      </div>
  
  </form>
